.headerContainer{
      width: 100%;
      background-color: #fff;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      box-sizing: border-box;
      .header{
            width: 975px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .logoBox{
                  display: flex;
                  flex: 1 0 127px;
            }
            .searchBox{
                  // margin-left: 210px;
            }
      }

}
