body{
      background-color: #eee;
      padding-top: 57px;
      box-sizing: border-box;
}
.mainInner{
      width: 820px;
      margin: 0 auto;
}
.feedRight{
      width: 320px;
      position: absolute;
      top: 100px;
      left: 804px;
      .profileName{
            width: 280px;
            .profileImg{
                  width: 56px;
                  height: 56px;
            }
      }
}