.friendProfile{
      width: 56px;
      cursor: pointer;
      .profileImg{
            width: 100%;
            height: 56px;
            border: 2px solid red;
            border-radius: 50%;
            margin-bottom: 7px;
      }
      p{
            font-size: 14px;
            font-weight: 400;
            color: 000;
            letter-spacing: -.5;
            text-align: center;
      }
}