.searchBox{
      width: 268px;
      min-width: 125px;
      height: 36px;
      border-radius: 10px;
      padding: 3px 16px;
      box-sizing: border-box;
      background-color: #eee;
      margin-right: 60px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      input{
            width: 90%;
            height: 100%;
            border: none;
            outline: none;
            background-color: #eee;
      }
      .searchIcon{
            position: absolute;
            top: 50%;
            left: 15px;
            transform: translateY(-50%);
      }
}