html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.searchBox {
  width: 268px;
  min-width: 125px;
  height: 36px;
  border-radius: 10px;
  padding: 3px 16px;
  box-sizing: border-box;
  background-color: #eee;
  margin-right: 60px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.searchBox input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #eee;
}
.searchBox .searchIcon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.threeBtn {
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.friendProfile {
  width: 56px;
  cursor: pointer;
}
.friendProfile .profileImg {
  width: 100%;
  height: 56px;
  border: 2px solid red;
  border-radius: 50%;
  margin-bottom: 7px;
  position: relative;
}
.friendProfile .profileImg img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.friendProfile p {
  font-size: 14px;
  font-weight: 400;
  color: 0;
  letter-spacing: -0.5;
  text-align: center;
}

.profileName {
  width: 410px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.profileName .profileImg {
  width: 44px;
  height: 44px;
  border: 1px solid red;
  border-radius: 50%;
  position: relative;
}
.profileName .profileImg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profileName .profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profileName .profileInfo .pName {
  font-size: 14px;
  font-weight: bold;
  color: #111;
  cursor: pointer;
}
.profileName .profileInfo .pInfo {
  font-size: 12px;
  font-weight: 300;
  color: #ddd;
}

.myImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.myImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

html, body {
  font-family: "Noto Sans KR", sans-serif;
}

.headerContainer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  box-sizing: border-box;
  z-index: 9995;
}
.headerContainer .header {
  width: 975px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer .header .logoBox {
  display: flex;
  flex: 1 0 127px;
}
.subMenu {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-left: 24px;
  box-sizing: border-box;
}
.subMenu .profileImg {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.subMenu .profileImg span {
  width: 100%;
  height: 100%;
}
.subMenu .profileImg span img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.subMenu svg {
  cursor: pointer;
}
.subMenu div {
  cursor: pointer;
}

body {
  background-color: #fafafa;
  padding-top: 57px;
  box-sizing: border-box;
}

.mainInner {
  width: 820px;
  margin: 0 auto;
}

.feedRight {
  width: 320px;
  position: fixed;
  top: 100px;
  left: 57%;
}
.feedRight .profileName {
  width: 280px;
}
.feedRight .profileName .profileImg {
  width: 56px;
  height: 56px;
}

.friendStory {
  width: 470px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px 0 16px;
  border: 1px solid #ccc;
  display: flex;
  gap: 20px;
}

.feedBox {
  width: 470px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
}
.feedBox .feedHead {
  display: flex;
  align-items: center;
  padding: 8px 4px 8px 12px;
  box-sizing: border-box;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.feedBox .feedBody {
  width: 100%;
}
.feedBox .feedBody img {
  width: 100%;
}
.feedBox .feedFoot {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.feedBox .feedFoot .feedBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.feedBox .feedFoot .feedBtn button {
  background: none;
  border: none;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
}
.feedBox .feedFoot .feedLike {
  padding-left: 12px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.feedBox .feedFoot .feedLike p {
  font-size: 14px;
  font-weight: 400;
}
.feedBox .feedFoot .feedLike p span {
  font-weight: bold;
}
.feedBox .feedFoot .feedCon {
  padding: 0 12px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.feedBox .feedFoot .feedCon p {
  font-size: 14px;
  font-weight: 400;
}
.feedBox .feedFoot .feedCon p span {
  font-weight: bold;
  cursor: pointer;
}
.feedBox .feedFoot .feedCon p span:hover {
  text-decoration: underline;
}
.feedBox .feedFoot .feedCommentMore {
  padding: 0 12px;
  box-sizing: border-box;
  margin-bottom: 10px;
  cursor: pointer;
}
.feedBox .feedFoot .feedCommentMore p {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
}
.feedBox .feedFoot .feedTime {
  padding: 0 12px;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.feedBox .feedFoot .feedTime p {
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
}

.commentWrite {
  box-sizing: border-box;
  display: flex;
  padding: 0 12px;
  box-sizing: border-box;
  align-items: center;
  border-top: 1px solid #ccc;
}
.commentWrite .emoBtn {
  padding: 8px 12px 8px 0;
  box-sizing: border-box;
  cursor: pointer;
}
.commentWrite form {
  width: 100%;
  display: flex;
  align-items: center;
}
.commentWrite form textarea {
  width: 100%;
  height: 18px !important;
  resize: none;
  border: none;
  background: none;
  outline: none;
  font-weight: 400;
  color: #111;
}
.commentWrite form .commentSubmit {
  font-size: 15px;
  font-weight: bold;
  color: rgb(110, 186, 216);
  background: none;
  border: none;
  cursor: pointer;
}

.changeId {
  display: flex;
  justify-content: space-between;
}
.changeId .profileName img {
  width: 52px;
  height: 52px;
}

.changeBtn {
  width: 40px;
  font-size: 12px;
  font-weight: 600;
  color: #0099f6;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.recommendTitle {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.recommendTitle h4 {
  font-size: 15px;
  font-weight: 500;
  color: #828282;
}
.recommendTitle p {
  font-size: 12px;
  font-weight: 500;
  color: #262626;
}

.recommendBox .changeId {
  margin-bottom: 15px;
}
.recommendBox .changeId .changeBtn {
  width: 50px;
}
.recommendBox .profileName {
  width: 260px;
}
.recommendBox .profileName .profileImg {
  width: 32px;
  height: 32px;
}
.recommendBox .profileName .profileImg img {
  width: 28px;
  height: 28px;
}

footer {
  margin-top: 25px;
}
footer .footerInfo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
footer .footerInfo li {
  position: relative;
}
footer .footerInfo li a {
  font-size: 12px;
  font-weight: 500;
  color: #c7c7c7;
}
footer .footerInfo li:first-child {
  padding-right: 10px;
}
footer .footerInfo li:not(:first-child) {
  padding: 0 10px 0 3px;
  box-sizing: border-box;
}
footer .footerInfo li:nth-child(7) {
  padding-left: 0;
}
footer .footerInfo li:not(:last-child)::after {
  display: block;
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #c7c7c7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin: 0 2px;
}
footer p {
  font-size: 13px;
  font-weight: 500;
  color: #c7c7c7;
}

.backContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.commentContent {
  width: 85%;
  height: 90vh;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  display: flex;
}
.commentContent .feedImageBox {
  width: 55%;
  height: 100%;
}
.commentContent .feedCommentContent {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.commentContent .feedCommentContent .feedAdminBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.commentContent .feedCommentContent .feedMainContent {
  width: 100%;
  height: 60vh;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: scroll;
}
.commentContent .feedCommentContent .feedMainContent .feedWrite {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
.commentContent .feedCommentContent .feedMainContent .feedWrite .feedCon {
  font-size: 13px;
  font-weight: 400;
  color: #111;
  padding: 4px 10px 0;
  box-sizing: border-box;
  line-height: 1.4;
}
.commentContent .feedCommentContent .feedMainContent .feedWrite .feedCon span {
  font-size: 12px;
  font-weight: 600;
  color: #111;
  padding-right: 5px;
}
.commentContent .feedCommentContent .feedMainContent .feedWrite .feedCon .feedTime {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
  margin-top: 15px;
}
.commentContent .feedCommentContent .feedMainContent .feedCommentView .profileImg {
  border: none;
}
.commentContent .feedCommentContent .feedMainContent .feedCommentView .feedCommentInfo {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}
.commentContent .feedCommentContent .feedMainContent .feedCommentView .feedCommentInfo .commentLikeNum {
  font-size: 12px;
  font-weight: 600;
  color: #8e8e8e;
}
.commentContent .feedCommentContent .feedMainContent .feedCommentView .feedCommentInfo button {
  border: none;
  background: none;
  outline: none;
  font-size: 12px;
  font-weight: 600;
  color: #8e8e8e;
  padding: 0;
  cursor: pointer;
}
.commentContent .feedCommentContent .feedMainContent .feedCommentView .recommentShow {
  margin-top: 15px;
  padding-left: 46px;
  box-sizing: border-box;
}
.commentContent .feedCommentContent .feedMainContent .feedCommentView .recommentShow button {
  border: none;
  background: none;
  outline: none;
  font-size: 12px;
  font-weight: 600;
  color: #8e8e8e;
  padding: 0;
  cursor: pointer;
}
.commentContent .feedCommentContent .feedMainContent .feedCommentView .feedReommentView {
  margin-top: 15px;
}
.commentContent .feedCommentContent .feedMainContent .feedAdmin {
  width: auto;
  padding: 0;
}
.commentContent .feedCommentContent .feedMainContent button {
  font-size: 14px;
  font-weight: 400;
  color: #111;
}
.commentContent .feedCommentContent .feedInfoContent .feedIconList {
  padding: 4px 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.commentContent .feedCommentContent .feedInfoContent .feedIcon {
  padding: 8px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.commentContent .feedCommentContent .feedInfoContent .feedLikeNum {
  padding: 0 16px;
  box-sizing: border-box;
  margin-bottom: 6px;
}
.commentContent .feedCommentContent .feedInfoContent .feedLikeNum p {
  font-size: 15px;
  font-weight: 600;
  color: #262626;
}
.commentContent .feedCommentContent .feedInfoContent .feedDate {
  padding: 0 16px;
  box-sizing: border-box;
  margin-bottom: 14px;
}
.commentContent .feedCommentContent .feedInfoContent .feedDate p {
  font-size: 12px;
  font-weight: 500;
  color: #8e8e8e;
}
.commentContent .profileName {
  width: auto;
  padding: 14px 4px 14px 16px;
}
.commentContent .feedAdmin {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px;
  box-sizing: border-box;
}
.commentContent .feedAdmin .profileAdminName {
  font-size: 12px;
  font-weight: 400;
  color: #111;
  display: flex;
  align-items: center;
  gap: 5px;
}
.commentContent .feedAdmin .profileAdminName .lineCircle {
  display: block;
  width: 3px;
  height: 3px;
  background-color: #111;
  border-radius: 50%;
}
.commentContent .feedAdmin .profileAdminName button {
  font-size: 15px;
  font-weight: 600;
  padding: 0;
  cursor: pointer;
}
.commentContent .feedAdmin .adminPlace {
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
  margin-top: 3px;
}
.commentContent .feedAdmin .profileImg {
  width: 36px;
  height: 36px;
  border: 1px solid red;
  border-radius: 50%;
  position: relative;
}
.commentContent .feedAdmin .profileImg img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.commentContent .feedAdmin button {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}

.feedFunctionBack {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedFunctionBack .feedFunction {
  width: 400px;
  height: 340px;
  background-color: #fff;
  border-radius: 20px;
}
.feedFunctionBack .feedFunction .feedFunctionBtn {
  width: 100%;
  height: 48px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}
.feedFunctionBack .feedFunction .feedFunctionBtn:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.feedFunctionBack .feedFunction .feedFunctionBtnRed {
  font-weight: 600;
  color: #ED4956;
}

.feedWriteContainer {
  width: 1058px;
  height: 760px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */